@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://cdn.homeguide.com/assets/images/content/homeguide-dog-walker-enjoying-her-companions-while-walking-outdoors.jpg" alt="child walking dog" height="500" />
    <h1 class="display-4">Welcome To Doggo!</h1>
    <div class="btn-group">
        <a href="https://www.outsideonline.com/2345986/cautionary-tale-about-dog-walking-apps" class="button btn-outline-dark">About DogGo</a>
    </div>
</div>
