@model IEnumerable<DogGo.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Uh Oh, that is incorrect!</h1>

<body>
    <img src="https://www.awesomeinventions.com/wp-content/uploads/2020/01/funny-dog-tags-not-all-who-wander-are-lost.jpg" alt="incorrect login photo" />
</body>