@model DogGo.Models.ViewModels.LocalWalkerListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our Loyal Walkers!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Avatars
            </th>
            <th>
                Walker
            </th>
            <th>
                Neighborhoods
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Walker) {
        <tr>
            <td>
                <a href="/Walkers/Details/@item.Id"><img src="@item.ImageUrl" alt="Walker avatar" /></a>
            </td>

            <td>
                @item.Name
            </td>
            <td>
                @foreach (Neighborhood neighborhood in Model.Neighborhoods)
                {
                    if (neighborhood.Id == item.NeighborhoodId)
                    {
                        <p>@neighborhood.Name</p>
                    }
                }
                @*@Model.Neighborhood.Name;*@
            </td>

        </tr>
}
    </tbody>
</table>
